
*.tif
*.dbf
*.mshp
*.prj
*.shp
*.shx
*.csv
*.xml
code/results
code/results/.DS_Store
code/results/mean_results_ensemble.gpkg
*.gpkg
*.gpkg
code/results/mean_results_ensemble.gpkg
*.gpkg
eq_mid+ls_afdesigner.pdf
eq_mid_afdesigner.pdf
